*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	margin: 0 auto;
}
body{
	background-image: url(../img/raccoon.jpg);
	height: 1300px;
}
.btn{
    display: block;
    width: 200px;
    height: 50px;
    border: 1px solid #2E8B57;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: #2E8B57;
    font-weight: bold;

}
.btn:hover{
    border: 1px solid #fff;
    color: #fff;
    background: #2E8B57;
